@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>
        Данные
    </h1>
    <div class="align-content-center">
        <table class="tabledata">
            <tr class="tabletitle">
                <td><p>Офис</p></td>
                <td><p>ФИО сотрудника</p></td>
                <td><p>Месяц работы с клиентом</p></td>
                <td><p>Количество клиентов</p></td>
                <td><p>Количество звонков</p></td>
                <td><p>Количество встреч</p></td>
            </tr>
            @foreach (var record in ViewBag.Records)
            {
                <tr>
                    <td>@record.OfficeName</td>
                    <td>@record.EmployeName</td>
                    <td>@record.Date</td>
                    <td>@record.ClientsNumber</td>
                    <td>@record.ClientsCalls</td>
                    <td>@record.ClientsMeets</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
